<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="!storageService.isAuth()">
    <ion-tab-button tab="connection">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Connection</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="register">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Register</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom" *ngIf="storageService.isAuth()">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
