<ion-header>
  <ion-toolbar>
    <ion-title>connection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" class="ion-no-padding" type="text" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" class="ion-no-padding" type="password" name="password"></ion-input>
    </ion-item>
    <ion-button (click)="login()">login</ion-button>
  </ion-card>

</ion-content>
