<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title mode="md" class="ion-text-center" no-padding>Skills available</ion-title>
  <ion-list class="ion-padding">
    <ion-item *ngFor="let skill of skills" (click)="goToSkillPage(skill.id)" no-padding>
      {{skill.name}}
    </ion-item>
  </ion-list>

</ion-content>
