<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="user.username" class="ion-no-padding" type="text" name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="user.mail" class="ion-no-padding" type="text" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="user.password" class="ion-no-padding" type="password" name="password"></ion-input>
    </ion-item>
    <!--
    <ion-item>
      <ion-label position="floating">Lastname</ion-label>
      <ion-input [(ngModel)]="user.lastname" class="ion-no-padding" type="text" name="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Firstname</ion-label>
      <ion-input [(ngModel)]="user.firstname" class="ion-no-padding" type="text" name="firstname"></ion-input>
    </ion-item>
    -->
    <ion-button (click)="register()">register</ion-button>
  </ion-card>
</ion-content>
